* {
	margin: 0;
	padding:0;
}

/*NAVBAR MOBILE---------------*/
#navbarNav2,
.nav-link,
.cart,
.navbar-light .navbar-brand,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover,
.nav-side,
.nav-side.active {
	color: #fff;
}

#navbarNav2 {
	background-color: #272727;
}

/*NAVBAR MOBILE---------------*/
#navbarNav2 {
	background-color: #272727;
	color: #fff;
}

#hamburgerbutton span.navbar-toggler-icon {
	position: fixed; top: 0.7rem;right: 1rem; z-index: 2;}

.nav-link {
	text-align: center;
}

.cart {
	text-align: right;
	width: 80%;
}

button:focus {
	outline: none;
}

button img {
	height: 40px;
}

/*LOGO---------------*/
.navbar-brand {
	position: fixed;
	left: 43%;
	top: 0.7rem;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
	font-size: 19px;
}

.navbar.navbar-light.bg.light {
	padding-right: 0;
}

.bg-light {
	background-color: #272727 !important;
}

.nav-side a, .nav-side a:hover {
	list-style-type: none;
}

.navbar-collapse img {
	height: 3rem;
}
.navbar-collapse.collapse {
    transition: height 0.5s;
    height: 100vh;
}

/*HAMBURGER TOGGLER---------------*/
.nav-item .nav-link {
	text-align: center;
}

.nav-item .nav-link:hover {
	color: #4A4B4B;
	transition: 0.5s;
}


